{% extends 'base.html.twig' %}

{% block body %}
    <h1>Evento</h1>

    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <th>Ideventodeportista</th>
                <td>{{ eventodeportistum.ideventodeportista }}</td>
            </tr>
            <tr>
                <th>Puntaje</th>
                <td>{{ eventodeportistum.puntaje }}</td>
            </tr>
            <tr>
                <th>Logros</th>
                <td>{{ eventodeportistum.logros }}</td>
            </tr>
            <tr>
                <th>Rendimiento</th>
                <td>{{ eventodeportistum.rendimiento }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eventodeportista_index') }}">Regresar</a>
        </li>
        <li>
            <a href="{{ path('eventodeportista_edit', { 'id': eventodeportistum.ideventodeportista }) }}">Editar</a>
        </li>       
    </ul>
{% endblock %}
