{% extends 'base.html.twig' %}

{% block body %}
    <h1>Deporte</h1>

    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <th>Iddeporte</th>
                <td>{{ deporte.iddeporte }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ deporte.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ deporte.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('deporte_index') }}">Regresar</a>
        </li>
        <li>
            <a href="{{ path('deporte_edit', { 'id': deporte.iddeporte }) }}">Editar</a>
        </li>     
    </ul>
{% endblock %}
